<%- include("partials/head") %>
  <link rel="stylesheet" href="styles/navbar.css">
  <link rel="stylesheet" href="styles/footer.css">
  <link rel="stylesheet" href="styles/404.css">
  <title>Página não existe | Kuijila</title>
</head>
<body>
  <%- include("partials/navbar")  %> 
    <main class="main">
      <h1>404</h1>
    </main>
  <%- include("partials/footer")  %> 
  <script src="js/navbar.js"></script>
<%- include("partials/foot")  %> 