<%- include("partials/head") %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/brands.css" integrity="sha384-S5yUroXKhsCryF2hYGm7i8RQ/ThL96qmmWD+lF5AZTdOdsxChQktVW+cKP/s4eav" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/fontawesome.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/navbar.css">
  <link rel="stylesheet" href="styles/footer.css">
  <link rel="stylesheet" href="styles/entrar.css">
  <title>O Complemento Escolar | Kuijila</title>
</head>
<body>
  <%- include("partials/navbar")  %> 
  <main class="maingrid">
    <section class="container">
      <div class="topContainer">
        <h1>Entre</h1>
        <ul class="social">
          <li><a href="#" class="link"></a></li>
          <li><a href="#" class="link"></a></li>
          <li><a href="#" class="link"></a></li>
        </ul>
        <p>Ou</p>
        <form class="loginForm">
          <div class="email">
            <input name="email" type="email" placeholder="E-mail" aria-label="email" />
          </div>
          <div class="password">
            <input class="password-input" name="password" type="password" placeholder="Password" aria-label="password" />
            <span class="mostrar-btn">Mostrar</span>
          </div>
          <button type="button" class="login-btn btn">Entrar</button>
        </form>
      </div>
      <div class="bottomContainer">
        <h2>Olá, Caro Estudante</h2>
        <p>Digite os seus detalhes pessoais e embarque nessa jornada de aprendizagem connosco</p>
        <button type="button" class="signup-btn btn">Inscreva-se</button>
      </div>
    </section>
  </main>
  <%- include("partials/footer")  %> 
  <script src="js/navbar.js"></script>
  <script src="js/entrar.js"></script>
<%- include("partials/foot")  %> 