<%- include("partials/head.html") %>
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="stylesheet" href="/styles/entrar.css">
  <title>O Complemento Escolar | Kuijila</title>
</head>
<body>
  <%- include("partials/navbar.html")  %> 
  <main class="maingrid">
    <section class="container">
      <div class="topContainer">
        <h1>Entre</h1>
        <ul class="social">
          <li><a href="#" class="link"></a></li>
          <li><a href="#" class="link"></a></li>
          <li><a href="#" class="link"></a></li>
        </ul>
        <p>Ou</p>
        <form class="loginForm">
          <div class="email">
            <input name="email" type="email" placeholder="E-mail" aria-label="email" />
          </div>
          <div class="password">
            <input class="password-input" name="password" type="password" placeholder="Password" aria-label="password" />
            <span class="mostrar-btn">Mostrar</span>
          </div>
          <button type="button" class="login-btn btn">Entrar</button>
        </form>
      </div>
      <div class="bottomContainer">
        <h2>Olá, Caro Estudante</h2>
        <p>Digite os seus detalhes pessoais e embarque nessa jornada de aprendizagem connosco</p>
        <button type="button" class="signup-btn btn">Inscreva-se</button>
      </div>
    </section>
  </main>
  <%- include("partials/footer.html")  %> 
  <script src="/js/register-service-worker.js"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/entrar.js"></script>
<%- include("partials/foot.html")  %> 