<%- include("partials/head.html") %>
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="stylesheet" href="/styles/inscreva-se.css">
  <title>O Complemento Escolar | Kuijila</title>
</head>
<body>
  <%- include("partials/navbar.html")  %> 
  <main class="maingrid">
    <section class="container">
      <div class="topContainer">
        <h2>Bem-vindo de Volta!</h2>
        <p>Para acessar a sua conta, por favor, digite os seus detalhes pessoais</p>
        <a href="/entrar" class="login-btn btn">Entre</a>
      </div>
      <div class="bottomContainer">
        <h1>Crie</h1>
        <ul class="social">
          <li><a href="#" class="link"></a></li>
          <li><a href="#" class="link"></a></li>
          <li><a href="#" class="link"></a></li>
        </ul>
        <p>Ou</p>
        <form action="/inscreva-se" method="post" name="signup-form" class="signupForm">
          <div class="fullname">
            <input name="name" type="text" placeholder="Nome Completo" aria-label="nome completo" />
          </div>
          <div class="email">
            <input name="email" type="email" placeholder="E-mail" aria-label="email" />
          </div>
          <div class="password">
            <input class="password-input" name="password" type="password" placeholder="Password" aria-label="password" />
            <span class="mostrar-btn">Mostrar</span>
          </div>
          <div class="phoneNumber">
            <input name="phoneNumber" type="text" placeholder="Telefone" aria-label="telefone" />
          </div>
          <button type="submit" class="signup-btn btn">Inscrever-se</button>
        </form>
      </div>
    </section>
  </main>
  <%- include("partials/footer.html")  %> 
  <script src="/js/register-service-worker.js"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/inscreva-se.js"></script>
<%- include("partials/foot.html")  %> 