<%- include("partials/head") %>
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="stylesheet" href="/styles/offline.css">
  <title>O Complemento Escolar | Kuijila</title>
</head>
<body>
  <%- include("partials/navbar")  %> 
    <main class="main">
      <h5>Desculpe, mas essa página ainda não foi adicionada ao cache do navegador</h5>
      <p>Por que que não tenta uma das nossas <a href="/">outras páginas</a></p>
    </main>
  <%- include("partials/footer")  %>
  <script  src="/js/register-service-worker.js"></script>
  <script  src="/js/navbar.js"></script>
  <script  src="/js/offline.js"></script>
<%- include("partials/foot")  %> 